:root {
  --elevation-01: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
  --elevation-02: 0px 16px 24px 0px rgba(0, 0, 0, 0.12);
  --elevation-03: 0px 32px 40px 0px rgba(0, 0, 0, 0.16);
  --greys-00: rgba(255, 255, 255, 1);
  --greys-01: rgba(245, 245, 245, 1);
  --greys-02: rgba(231, 231, 231, 1);
  --greys-04: rgba(189, 189, 189, 1);
  --greys-06: rgba(79, 79, 79, 1);
  --greys-07: rgba(58, 58, 58, 1);
  --greys-08: rgba(42, 42, 42, 1);
  --inter-h2-font-family: "Inter", Helvetica;
  --inter-h2-font-size: 64px;
  --inter-h2-font-style: normal;
  --inter-h2-font-weight: 600;
  --inter-h2-letter-spacing: -1px;
  --inter-h2-line-height: 72px;
  --SF-pro-large-24-font-family: "SF Pro Display", Helvetica;
  --SF-pro-large-24-font-size: 24px;
  --SF-pro-large-24-font-style: normal;
  --SF-pro-large-24-font-weight: 500;
  --SF-pro-large-24-letter-spacing: 0.016800000071525573px;
  --SF-pro-large-24-line-height: 120.00000476837158%;
  --SF-pro-medium-17-m-font-family: "SF Pro Text", Helvetica;
  --SF-pro-medium-17-m-font-size: 17px;
  --SF-pro-medium-17-m-font-style: normal;
  --SF-pro-medium-17-m-font-weight: 400;
  --SF-pro-medium-17-m-letter-spacing: 0.07310000121593475px;
  --SF-pro-medium-17-m-line-height: 22px;
  --SF-pro-medium-17-s-font-family: "SF Pro Text", Helvetica;
  --SF-pro-medium-17-s-font-size: 17px;
  --SF-pro-medium-17-s-font-style: normal;
  --SF-pro-medium-17-s-font-weight: 400;
  --SF-pro-medium-17-s-letter-spacing: 0.07310000121593475px;
  --SF-pro-medium-17-s-line-height: 22px;
  --SF-pro-tiny-12-font-family: "SF Pro Text", Helvetica;
  --SF-pro-tiny-12-font-size: 12px;
  --SF-pro-tiny-12-font-style: normal;
  --SF-pro-tiny-12-font-weight: 500;
  --SF-pro-tiny-12-letter-spacing: 0px;
  --SF-pro-tiny-12-line-height: 16px;
  --SF-pro-title-01-64-font-family: "SF Pro Display", Helvetica;
  --SF-pro-title-01-64-font-size: 64px;
  --SF-pro-title-01-64-font-style: normal;
  --SF-pro-title-01-64-font-weight: 400;
  --SF-pro-title-01-64-letter-spacing: 0.14079999923706055px;
  --SF-pro-title-01-64-line-height: 100%;
  --SF-pro-title-02-34-font-family: "SF Pro Display", Helvetica;
  --SF-pro-title-02-34-font-size: 34px;
  --SF-pro-title-02-34-font-style: normal;
  --SF-pro-title-02-34-font-weight: 400;
  --SF-pro-title-02-34-letter-spacing: 0.13939999878406525px;
  --SF-pro-title-02-34-line-height: 120.00000476837158%;
  --text-iconsdark-disabled: rgba(255, 255, 255, 0.5);
  --text-iconsdark-high-emphasis: rgba(255, 255, 255, 1);
  --text-iconsdark-medium-emphasis: rgba(255, 255, 255, 0.7);
  --text-iconslight-disabled: rgba(0, 0, 0, 0.38);
  --text-iconslight-high-emphasis: rgba(0, 0, 0, 0.87);
  --text-iconslight-medium-emphasis: rgba(0, 0, 0, 0.6);
}
