.total {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.total .overlap-group-wrapper {
  height: 5720px;
  width: 1442px;
}

.total .overlap-18 {
  height: 5714px;
  position: relative;
  top: 6px;
}

.total .cover {
  -webkit-backdrop-filter: blur(200px) brightness(100%);
  backdrop-filter: blur(200px) brightness(100%);
  background-blend-mode: darken;
  background-color: #000000e0;
  height: 5713px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.total .intro-frame {
  height: 477px;
  left: 143px;
  overflow: scroll;
  position: absolute;
  top: 240px;
  width: 1127px;
}

.total .intro-text {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  position: absolute;
  top: 135px;
}

.total .hey-text {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 64px;
  margin-top: -1px;
  position: relative;
  width: 506px;
}

.total .intro-text-2 {
  color: var(--text-iconsdark-medium-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.6px;
  position: relative;
  width: 483px;
}

.total .learn-more-scroll {
  background-color: var(--greys-00);
  border-radius: 12px;
  height: 48px;
  overflow: hidden;
  position: relative;
  transition: all 0.07s ease-in;
  width: 143px;
}

.total .text-wrapper-19 {
  color: var(--text-iconslight-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0.07px;
  line-height: 22px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.total .element-icons-image {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 1000px;
  height: 464px;
  left: 647px;
  position: absolute;
  top: 13px;
  width: 464px;
}

.total .work-frame {
  height: 1768px;
  left: 2px;
  position: absolute;
  top: 1590px;
  width: 1440px;
}

.total .rocket-frame {
  height: 673px;
  left: 152px;
  position: absolute;
  top: 147px;
  width: 1136px;
}

.total .overlap-19 {
  height: 706px;
  position: relative;
}

.total .element-cards-case-study {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 706px;
  left: 0;
  position: absolute;
  top: 0;
}

.total .element-cards-case-study-2 {
  -webkit-backdrop-filter: blur(100px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(100px) brightness(100%);
  background: linear-gradient(180deg, rgb(66.07, 143.44, 117.65) 0%, rgb(35.99, 45.18, 66.65) 100%);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 670px;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 1136px;
}

.total .frame-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  margin-bottom: -40px;
  margin-top: -43px;
  position: relative;
  width: 100%;
}

.total .image-5 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  border-radius: 32px;
  height: 676px;
  position: relative;
  width: 676px;
}

.total .rocket-coding-logos {
  height: 190px;
  left: 40px;
  position: absolute;
  top: 432px;
  width: 791px;
}

.total .AWS {
  height: 85px;
  left: 240px;
  position: absolute;
  top: 3px;
  width: 85px;
}

.total .logos-python {
  height: 61px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 60px;
}

.total .overlap-group-5 {
  height: 86px;
  left: 341px;
  position: absolute;
  top: 0;
  width: 406px;
}

.total .element-icons-image-2 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-1.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 125px;
}

.total .element-icons-image-3 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 80px;
  left: 136px;
  position: absolute;
  top: 3px;
  width: 228px;
}

.total .element-icons-image-4 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-3.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 65px;
  left: 120px;
  position: absolute;
  top: 4px;
  width: 82px;
}

.total .logos-numpy-original {
  height: 86px;
  left: 321px;
  position: absolute;
  top: 0;
  width: 86px;
}

.total .element-icons-image-5 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-4.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 50px;
  left: 76px;
  position: absolute;
  top: 13px;
  width: 141px;
}

.total .element-icons-image-6 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-5.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 50px;
  left: 114px;
  position: absolute;
  top: 128px;
  width: 141px;
}

.total .element-icons-image-7 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-6.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 51px;
  left: 268px;
  position: absolute;
  top: 128px;
  width: 153px;
}

.total .element-icons-image-8 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 51px;
  left: 638px;
  position: absolute;
  top: 128px;
  width: 153px;
}

.total .vector {
  height: 75px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 76px;
}

.total .vector-wrapper {
  background-image: url(../../../static/img/vector-5.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 75px;
  left: 432px;
  position: absolute;
  top: 115px;
  width: 76px;
}

.total .vector-2 {
  height: 75px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 76px;
}

.total .vector-3 {
  height: 75px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 76px;
}

.total .text-wrapper-20 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 472px;
  letter-spacing: 0.14px;
  line-height: 40.8px;
  position: absolute;
  top: 38px;
  width: 402px;
}

.total .description {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0.02px;
  line-height: 28.8px;
  position: absolute;
  top: 192px;
  width: 720px;
}

.total .vector-4 {
  height: 119px;
  left: 39px;
  position: absolute;
  top: 18px;
  width: 321px;
}

.total .first-fact {
  height: 186px;
  left: 892px;
  position: absolute;
  top: 30px;
  transition: all 0.07s ease-in;
  width: 170px;
}

.total .overlap-20 {
  height: 186px;
  position: relative;
}

.total .element-cards-successcard-wrapper {
  height: 186px;
  left: 0;
  position: absolute;
  top: 0;
  width: 170px;
}

.total .element-cards-successcard {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(53.81, 194.79, 84.36) 0%, rgb(35.99, 45.18, 66.65) 100%);
  border: 1px solid;
  border-color: transparent;
  border-radius: 32px;
  box-shadow: var(--elevation-01);
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 186px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  transition: all 0.2s ease-in;
  width: 170px;
}

.total .description-2 {
  align-self: stretch;
  color: var(--text-iconsdark-medium-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.total .frame-15 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 35px;
  position: absolute;
  top: 66px;
  width: 97px;
}

.total .group-8 {
  align-self: stretch;
  height: 71px;
  position: relative;
  width: 100%;
}

.total .frame-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 97px;
}

.total .description-3 {
  align-self: stretch;
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
}

.total .description-4 {
  align-self: stretch;
  color: var(--text-iconsdark-disabled);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01px;
  line-height: 19.2px;
  position: relative;
}

.total .second-fact {
  height: 186px;
  left: 891px;
  position: absolute;
  top: 229px;
  transition: all 0.07s ease-in;
  width: 171px;
}

.total .group-9 {
  height: 186px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in;
  width: 171px;
}

.total .element-cards-successcard-2 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(53.81, 194.79, 84.36) 0%, rgb(35.99, 45.18, 66.65) 100%);
  border: 1px solid;
  border-color: transparent;
  border-radius: 32px;
  box-shadow: var(--elevation-01);
  display: flex;
  flex-direction: column;
  gap: 125px;
  height: 186px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  width: 171px;
}

.total .description-5 {
  color: var(--text-iconsdark-medium-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-right: -197.11px;
  margin-top: -1px;
  position: relative;
  width: 304px;
}

.total .frame-17 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 137px;
  left: 28px;
  position: absolute;
  top: 46px;
  width: 142.53px;
}

.total .group-10 {
  align-self: stretch;
  height: 112px;
  position: relative;
  width: 100%;
}

.total .frame-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 142.53px;
}

.total .description-6 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 54px;
  letter-spacing: 0.07px;
  line-height: 32px;
  margin-right: -103.47px;
  margin-top: -1px;
  position: relative;
  width: 246px;
}

.total .third-fact {
  height: 200px;
  left: 892px;
  position: absolute;
  top: 432px;
  transition: all 0.07s ease-in;
  width: 170px;
}

.total .overlap-21 {
  height: 200px;
  position: relative;
}

.total .element-cards-successcard-3 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(53.81, 194.79, 84.36) 0%, rgb(35.99, 45.18, 66.65) 100%);
  border: 1px solid;
  border-color: transparent;
  border-radius: 32px;
  box-shadow: var(--elevation-01);
  display: flex;
  flex-direction: column;
  gap: 125px;
  height: 186px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  width: 170px;
}

.total .description-7 {
  color: var(--text-iconsdark-medium-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-right: -198px;
  margin-top: -1px;
  position: relative;
  width: 304px;
}

.total .frame-19 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 132px;
  left: 11px;
  position: absolute;
  top: 68px;
  width: 145px;
}

.total .group-11 {
  height: 137px;
  margin-bottom: -5px;
  position: relative;
  width: 145px;
}

.total .frame-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 145px;
}

.total .description-8 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 54px;
  letter-spacing: 0.07px;
  line-height: 32px;
  margin-right: -101px;
  margin-top: -1px;
  position: relative;
  width: 246px;
}

.total .JDF-slide {
  background-image: url(../../../static/img/04-cards-case-study-large.png);
  background-size: 100% 100%;
  height: 673px;
  left: 152px;
  position: absolute;
  top: 965px;
  width: 1136px;
}

.total .co-founder-lead {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 455px;
  letter-spacing: 0.14px;
  line-height: 40.8px;
  position: absolute;
  top: 53px;
  width: 393px;
}

.total .text-wrapper-21 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(225.13, 22.63, 204.88) 91%, rgb(123.13, 12.38, 112.05) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Monomaniac One-Regular", Helvetica;
  font-size: 80px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0.33px;
  line-height: 96px;
  position: absolute;
  text-fill-color: transparent;
  top: 32px;
  width: 393px;
}

.total .overlap-22 {
  height: 434px;
  left: 43px;
  position: absolute;
  top: 212px;
  width: 747px;
}

.total .jdf-logos {
  height: 238px;
  left: 45px;
  position: absolute;
  top: 196px;
  width: 622px;
}

.total .logos-nodejs-plain {
  height: 128px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 128px;
}

.total .java-script {
  height: 97px;
  left: 0;
  position: absolute;
  top: 131px;
  width: 109px;
}

.total .element-icons-image-9 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-17.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 104px;
  left: 173px;
  position: absolute;
  top: 126px;
  width: 128px;
}

.total .element-icons-image-10 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-18.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 96px;
  left: 397px;
  position: absolute;
  top: 16px;
  width: 110px;
}

.total .element-icons-image-11 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-19.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 81px;
  left: 161px;
  position: absolute;
  top: 35px;
  width: 236px;
}

.total .frame-21 {
  height: 118px;
  left: 359px;
  position: absolute;
  top: 120px;
  width: 118px;
}

.total .saas {
  align-items: center;
  background-image: url(../../../static/img/saas.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  height: 80px;
  left: 537px;
  padding: 13px 24px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.total .description-9 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.02px;
  line-height: 28.8px;
  position: absolute;
  top: 0;
  width: 747px;
}

.total .i-fact {
  height: 166px;
  left: 894px;
  position: absolute;
  top: 56px;
  transition: all 0.07s ease-in;
  width: 171px;
}

.total .overlap-group-6 {
  border-radius: 32px;
  height: 166px;
  position: relative;
}

.total .description-wrapper {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(54, 195, 84) 0%, rgb(36, 45, 67) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(54, 195, 84), rgb(36, 45, 67)) 1;
  border-radius: 32px;
  box-shadow: var(--elevation-01);
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 166px;
  left: 0;
  overflow: hidden;
  padding: 32px;
  position: absolute;
  top: 0;
  width: 171px;
}

.total .description-10 {
  align-self: stretch;
  color: #000000;
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.total .frame-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 42px;
  position: absolute;
  top: 77px;
  width: 97.48px;
}

.total .II-fact {
  height: 166px;
  left: 893px;
  position: absolute;
  top: 248px;
  transition: all 0.07s ease-in;
  width: 172px;
}

.total .element-cards-successcard-4 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(54, 195, 84) 0%, rgb(36, 45, 67) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(54, 195, 84), rgb(36, 45, 67)) 1;
  border-radius: 32px;
  box-shadow: var(--elevation-01);
  display: flex;
  flex-direction: column;
  gap: 125px;
  height: 166px;
  left: 0;
  overflow: hidden;
  padding: 32px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in;
  width: 172px;
}

.total .description-11 {
  color: var(--text-iconsdark-medium-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-right: -196.26px;
  margin-top: -1px;
  position: relative;
  width: 304px;
}

.total .frame-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 29px;
  position: absolute;
  top: 87px;
  width: 143.24px;
}

.total .description-12 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 54px;
  letter-spacing: 0.07px;
  line-height: 32px;
  margin-right: -102.76px;
  margin-top: -1px;
  position: relative;
  width: 246px;
}

.total .III-fact {
  height: 166px;
  left: 894px;
  position: absolute;
  top: 448px;
  transition: all 0.07s ease-in;
  width: 173px;
}

.total .overlap-23 {
  border-radius: 32px;
  height: 166px;
  position: relative;
  width: 171px;
}

.total .element-cards-successcard-5 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(54, 195, 84) 0%, rgb(36, 45, 67) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(54, 195, 84), rgb(36, 45, 67)) 1;
  border-radius: 32px;
  box-shadow: var(--elevation-01);
  display: flex;
  flex-direction: column;
  gap: 125px;
  height: 166px;
  left: 0;
  overflow: hidden;
  padding: 32px;
  position: absolute;
  top: 0;
  width: 171px;
}

.total .description-13 {
  color: var(--text-iconsdark-medium-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-right: -197.15px;
  margin-top: -1px;
  position: relative;
  width: 304px;
}

.total .frame-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 13px;
  position: absolute;
  top: 59px;
  width: 145.72px;
}

.total .description-14 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 54px;
  letter-spacing: 0.07px;
  line-height: 32px;
  margin-right: -100.28px;
  margin-top: -1px;
  position: relative;
  width: 246px;
}

.total .work-text-header {
  height: 46px;
  left: 158px;
  position: absolute;
  top: 33px;
  width: 145px;
}

.total .background-frame {
  height: 733px;
  left: 2px;
  position: absolute;
  top: 841px;
  width: 1440px;
}

.total .text-bubble {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  height: 342px;
  left: 47px;
  position: absolute;
  top: 170px;
  width: 639px;
}

.total .mich-intro-text {
  color: #ffffff;
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0.02px;
  line-height: 28.8px;
  position: absolute;
  top: 33px;
  width: 618px;
}

.total .background-text {
  height: 58px;
  left: 95px;
  position: absolute;
  top: 82px;
  width: 338px;
}

.total .overlap-24 {
  height: 288px;
  left: 686px;
  position: absolute;
  top: 179px;
  width: 734px;
}

.total .computer-science {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/computer-science-picture.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 288px;
  left: 404px;
  position: absolute;
  top: 0;
  width: 330px;
}

.total .presentation-picture {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/presentation-picture.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 236px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 409px;
}

.total .projects-and {
  height: 1788px;
  left: 2px;
  position: absolute;
  top: 3358px;
  width: 1440px;
}

.total .projects-and-2 {
  height: 1534px;
  left: 86px;
  position: absolute;
  top: 242px;
  width: 1309px;
}

.total .QCF {
  height: 724px;
  left: 670px;
  position: absolute;
  top: 776px;
  transition: all 0.07s ease-in;
  width: 600px;
}

.total .overlap-group-7 {
  border-radius: 32px;
  height: 724px;
  position: relative;
}

.total .div-4 {
  background-color: #410644;
  border-radius: 32px;
  height: 724px;
  left: 0;
  position: absolute;
  top: 0;
  width: 600px;
}

.total .titles {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 49px;
  position: absolute;
  top: 143px;
  width: 520px;
}

.total .project-title {
  align-self: stretch;
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 40.8px;
  margin-top: -1px;
  position: relative;
}

.total .description-15 {
  align-self: stretch;
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02px;
  line-height: 28.8px;
  position: relative;
}

.total .element-icons-image-12 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-8.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 246px;
  left: 72px;
  position: absolute;
  top: 365px;
  width: 428px;
}

.total .QCF-tech-stack {
  height: 66px;
  left: 76px;
  position: absolute;
  top: 630px;
  width: 455px;
}

.total .element-icons-image-13 {
  height: 36px;
  left: 355px;
  position: absolute;
  top: 17px;
  width: 100px;
}

.total .element-icons-image-14 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 109px;
}

.total .element-icons-image-15 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-15.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 35px;
  left: 239px;
  position: absolute;
  top: 18px;
  width: 92px;
}

.total .logos-python-2 {
  height: 66px;
  left: 140px;
  position: absolute;
  top: 0;
  width: 68px;
}

.total .qcf-logo {
  height: 73px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 177px;
}

.total .skill-button-qcf {
  display: block;
  height: 43px;
  left: 494px;
  position: absolute;
  top: 58px;
  width: 55px;
}

.total .MDST {
  height: 724px;
  left: 2px;
  position: absolute;
  top: 0;
  transition: all 0.07s ease-in;
  width: 600px;
}

.total .overlap-25 {
  border-radius: 32px;
  height: 721px;
  position: relative;
}

.total .MDST-2 {
  background-color: #410544;
  border-radius: 32px;
  height: 721px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in;
  width: 600px;
}

.total .titles-2 {
  height: 214px;
  left: 40px;
  position: absolute;
  top: 130px;
  width: 520px;
}

.total .project-title-2 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.14px;
  line-height: 40.8px;
  position: absolute;
  top: -1px;
  width: 520px;
}

.total .description-16 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.02px;
  line-height: 28.8px;
  position: absolute;
  top: 97px;
  width: 520px;
}

.total .overlap-group-8 {
  height: 254px;
  left: -5px;
  position: absolute;
  top: 359px;
  width: 585px;
}

.total .element-icons-image-16 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-9.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 219px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 289px;
}

.total .element-icons-image-17 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-20.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 254px;
  left: 250px;
  position: absolute;
  top: 0;
  width: 335px;
}

.total .MDST-skills {
  background-image: url(../../../static/img/mdst-tech-stack-2.png);
  background-size: 100% 100%;
  height: 91px;
  left: 94px;
  position: absolute;
  top: 627px;
  width: 412px;
}

.total .element-icons-image-18 {
  height: 96px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 96px;
}

.total .skills-button-mdst {
  -webkit-backdrop-filter: blur(100px) brightness(100%);
  backdrop-filter: blur(100px) brightness(100%);
  background-color: #f5f5f5cc;
  border-radius: 8px;
  height: 43px;
  left: 495px;
  position: absolute;
  top: 50px;
  width: 55px;
}

.total .tag {
  color: var(--text-iconslight-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.total .deloitte-slide {
  background-color: #410644;
  border-radius: 32px;
  height: 724px;
  left: 2px;
  position: absolute;
  top: 776px;
  transition: all 0.07s ease-in;
  width: 600px;
}

.total .overlap-26 {
  height: 461px;
  left: 40px;
  position: absolute;
  top: 145px;
  width: 520px;
}

.total .titles-3 {
  height: 243px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.total .element-icons-image-19 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-21.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 236px;
  left: 18px;
  position: absolute;
  top: 225px;
  width: 453px;
}

.total .deloitte-tech-stack {
  height: 78px;
  left: 58px;
  position: absolute;
  top: 630px;
  width: 484px;
}

.total .overlap-group-9 {
  height: 37px;
  left: 297px;
  position: absolute;
  top: 26px;
  width: 187px;
}

.total .element-icons-image-20 {
  height: 37px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 100px;
}

.total .element-icons-image-21 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-11.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 92px;
}

.total .SQL-logo-deloitte {
  height: 75px;
  left: 186px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 76px;
}

.total .tablue-logo {
  height: 68px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 70px;
}

.total .logos-python-3 {
  height: 68px;
  left: 93px;
  position: absolute;
  top: 10px;
  width: 68px;
}

.total .skill-button {
  display: block;
  height: 43px;
  left: 480px;
  position: absolute;
  top: 71px;
  width: 55px;
}

.total .element-icons-image-22 {
  height: 100px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 212px;
}

.total .google-frame {
  height: 724px;
  left: 666px;
  position: absolute;
  top: 0;
  transition: all 0.07s ease-in;
  width: 600px;
}

.total .text-wrapper-22 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 51px;
  letter-spacing: 0.14px;
  line-height: 40.8px;
  position: absolute;
  top: 123px;
  width: 520px;
}

.total .element-icons-image-23 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-12.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 298px;
  left: 80px;
  position: absolute;
  top: 301px;
  width: 471px;
}

.total .titles-4 {
  height: 126px;
  left: 54px;
  position: absolute;
  top: 173px;
  width: 520px;
}

.total .description-17 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.02px;
  line-height: 28.8px;
  position: absolute;
  top: -1px;
  width: 520px;
}

.total .google-icon {
  height: 96px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 96px;
}

.total .tech-stack-google {
  display: block;
  height: 43px;
  left: 485px;
  position: absolute;
  top: 45px;
  width: 55px;
}

.total .google-tech-stack {
  height: 87px;
  left: 16px;
  position: absolute;
  top: 607px;
  width: 558px;
}

.total .vector-5 {
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  width: 81px;
}

.total .frame-25 {
  height: 66px;
  left: 417px;
  position: absolute;
  top: 21px;
  width: 66px;
}

.total .logos-python-4 {
  height: 68px;
  left: 256px;
  position: absolute;
  top: 14px;
  width: 68px;
}

.total .logos-original {
  height: 72px;
  left: 336px;
  position: absolute;
  top: 12px;
  width: 72px;
}

.total .logos-numpy-original-2 {
  height: 61px;
  left: 191px;
  position: absolute;
  top: 17px;
  width: 61px;
}

.total .element-icons-image-24 {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/03-icons-image-placeholder-13.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 25px;
  left: 97px;
  position: absolute;
  top: 31px;
  width: 78px;
}

.total .logos-nodejs-plain-2 {
  height: 96px;
  left: 483px;
  position: absolute;
  top: 0;
  width: 96px;
}

.total .work-text-header-2 {
  height: 59px;
  left: 115px;
  position: absolute;
  top: 116px;
  width: 757px;
}

.total .navbar-frame {
  background-color: #000000b2;
  height: 108px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.total .overlap-27 {
  height: 112px;
  position: relative;
  width: 1442px;
}

.total .navbar-group {
  height: 112px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.total .overlap-group-10 {
  background-image: url(../../../static/img/navbar.png);
  background-size: 100% 100%;
  height: 112px;
  position: relative;
  width: 1440px;
}

.total .gmail-button-bottom {
  display: block;
  height: 67px;
  left: 1255px;
  position: absolute;
  top: 39px;
  transition: all 0.07s ease-in;
  width: 68px;
}

.total .face-intro-text {
  height: 51px;
  left: 172px;
  position: absolute;
  top: 41px;
  width: 199px;
}

.total .frame-26 {
  background-image: url(../../../static/img/linkedin-logo-button.png);
  background-size: 100% 100%;
  border: 1px solid;
  border-color: #000000e0;
  height: 63px;
  left: 1074px;
  position: absolute;
  top: 35px;
  transition: all 0.07s ease-in;
  width: 63px;
}

.total .element-controls-fab {
  height: 100px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 98px;
}

.total .github-logo {
  display: block;
  height: 67px;
  left: 1160px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  transition: all 0.07s ease-in;
  width: 72px;
}

.total .resume-button-bottom {
  display: block;
  height: 72px;
  left: 1340px;
  position: absolute;
  top: 29px;
  transition: all 0.07s ease-in;
  width: 92px;
}

.total .options {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 474px;
  position: absolute;
  top: 56px;
}

.total .element-navigation {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.total .buttons {
  align-items: center;
  border-radius: 12px;
  display: inline-flex;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
}

.total .text-wrapper-23 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.total .highlighter {
  height: 5px;
  position: relative;
  width: 6px;
}

.total .text-wrapper-24 {
  color: var(--text-iconsdark-medium-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.total .highlighter-2 {
  height: 1px;
  margin-left: -12904px;
  margin-top: -2141.5px;
  position: relative;
  width: 6px;
}

.total .highlighter-3 {
  height: 1px;
  margin-left: -13002px;
  margin-top: -2141.5px;
  position: relative;
  width: 6px;
}

.total .highlighter-4 {
  height: 1px;
  margin-left: -13117.5px;
  margin-top: -2141.5px;
  position: relative;
  width: 6px;
}

.total .bottom-group-frame {
  height: 498px;
  left: 2px;
  position: absolute;
  top: 5216px;
  width: 1440px;
}

.total .overlap-28 {
  height: 532px;
  left: 103px;
  position: relative;
  top: -70px;
  width: 1280px;
}

.total .bottom-group {
  height: 532px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1201px;
}

.total .frame-27 {
  height: 192px;
  left: 46px;
  position: absolute;
  top: 0;
  width: 326px;
}

.total .text-wrapper-25 {
  color: var(--text-iconsdark-high-emphasis);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.03px;
  line-height: 14px;
  position: absolute;
  top: 518px;
  width: 200px;
}

.total .contact-info {
  height: 48px;
  left: 642px;
  position: absolute;
  top: 192px;
  width: 559px;
}

.total .reach-out-for-more {
  height: 35px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 420px;
}

.total .frame-28 {
  align-items: flex-start;
  display: inline-flex;
  gap: 48px;
  left: 479px;
  position: absolute;
  top: 503px;
}

.total .text-wrapper-26 {
  color: var(--text-iconsdark-disabled);
  font-family: "Metrophobic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.total .element-controls-buttons {
  align-items: center;
  background-color: var(--greys-08);
  border-radius: 12px;
  display: inline-flex;
  left: 1183px;
  overflow: hidden;
  padding: 13px 16px;
  position: absolute;
  top: 477px;
}

.total .gmail-button-bottom-2 {
  display: block;
  height: 67px;
  left: 770px;
  position: absolute;
  top: 258px;
  width: 68px;
}

.total .frame-29 {
  background-image: url(../../../static/img/linkedin-logo-button.png);
  background-size: 100% 100%;
  height: 63px;
  left: 681px;
  position: absolute;
  top: 257px;
  width: 63px;
}

.total .github-logo-2 {
  display: block;
  height: 67px;
  left: 865px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 72px;
}

.total .resume-button-bottom-2 {
  display: block;
  height: 72px;
  left: 954px;
  position: absolute;
  top: 253px;
  width: 92px;
}

.total .navbarline {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 1442px;
}

.total .luke-nick-fistbump {
  -webkit-backdrop-filter: blur(150px) brightness(100%);
  backdrop-filter: blur(150px) brightness(100%);
  background-image: url(../../../static/img/luke-nick-fistbump.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  height: 270px;
  left: 159px;
  position: absolute;
  top: 5322px;
  width: 286px;
}
