.quiz {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.quiz .div-3 {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.quiz .img-wrapper {
  background-image: url(../../../static/img/image-5.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 33px;
  left: 217px;
  position: absolute;
  top: 53px;
  width: 32px;
}

.quiz .image-3 {
  height: 33px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.quiz .overlap-14 {
  background-image: url(../../../static/img/subtract.svg);
  background-size: 100% 100%;
  height: 29px;
  left: 40px;
  position: absolute;
  top: 54px;
  width: 176px;
}

.quiz .text-wrapper-12 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 147px;
}

.quiz .subtract-2 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.quiz .READ-MORE-wrapper {
  background-image: url(../../../static/img/read-more.png);
  background-size: 100% 100%;
  height: 17px;
  left: 192px;
  position: absolute;
  top: 730px;
  width: 136px;
}

.quiz .READ-MORE-2 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 136px;
}

.quiz .overlap-15 {
  height: 93px;
  left: 1060px;
  position: absolute;
  top: 31px;
  width: 321px;
}

.quiz .group-6 {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 321px;
}

.quiz .group-7 {
  height: 31px;
  left: 46px;
  position: absolute;
  top: 6px;
  width: 29px;
}

.quiz .overlap-group-4 {
  height: 86px;
  left: 240px;
  position: absolute;
  top: 5px;
  width: 81px;
}

.quiz .ellipse-3 {
  height: 35px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 39px;
}

.quiz .frame-9 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 33px;
  width: 81px;
}

.quiz .text-wrapper-13 {
  color: #818181;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -5.57px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.quiz .frame-10 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 40px;
  width: 91px;
}

.quiz .text-wrapper-14 {
  color: #818181;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -36.88px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.quiz .frame-11 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 126px;
  padding: 10px;
  position: absolute;
  top: 38px;
  width: 89px;
}

.quiz .text-wrapper-15 {
  color: #818181;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -21.82px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.quiz .iconly-light-outline-3 {
  background-image: url(../../../static/img/libary.svg);
  background-size: 100% 100%;
  height: 38px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 43px;
}

.quiz .iconly-light-outline-4 {
  background-image: url(../../../static/img/libary-1.svg);
  background-size: 100% 100%;
  height: 38px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 43px;
}

.quiz .overlap-wrapper {
  height: 46px;
  left: 106px;
  position: absolute;
  top: 163px;
  width: 875px;
}

.quiz .overlap-16 {
  height: 46px;
  position: relative;
}

.quiz .frame-wrapper {
  height: 46px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 857px;
}

.quiz .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  gap: 5px;
  padding: 5px;
  position: relative;
}

.quiz .text-wrapper-16 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.quiz .rectangle-3 {
  background-color: #f98121;
  border-radius: 1px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 160px;
}

.quiz .text-wrapper-17 {
  color: #2c2929;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 186px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 285px;
  width: 1038px;
}

.quiz .overlap-17 {
  height: 267px;
  left: 743px;
  position: absolute;
  top: 670px;
  width: 435px;
}

.quiz .image-4 {
  height: 185px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 380px;
}

.quiz .ellipse-4 {
  background-color: #f2f2f2;
  border-radius: 43.35px/46.5px;
  height: 93px;
  left: 0;
  position: absolute;
  top: 174px;
  width: 87px;
}

.quiz .ellipse-5 {
  background-color: #f2f2f2;
  border-radius: 43.35px/46.5px;
  height: 93px;
  left: 143px;
  position: absolute;
  top: 174px;
  width: 87px;
}

.quiz .ellipse-6 {
  background-color: #f2f2f2;
  border-radius: 43.35px/46.5px;
  height: 93px;
  left: 276px;
  position: absolute;
  top: 174px;
  width: 87px;
}

.quiz .arrow-wrapper {
  background-image: url(../../../static/img/image-332.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 248px;
  left: 251px;
  position: absolute;
  top: 403px;
  width: 398px;
}

.quiz .arrow {
  height: 15px;
  left: 325px;
  position: absolute;
  top: 125px;
  width: 27px;
}

.quiz .frame-13 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 26px;
  left: 121px;
  padding: 5px;
  position: absolute;
  top: 774px;
  width: 108px;
}

.quiz .text-wrapper-18 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -13px;
  margin-right: -49px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.quiz .ellipse-7 {
  background-color: #f2f2f2;
  border-radius: 43.35px/46.5px;
  height: 93px;
  left: 171px;
  position: absolute;
  top: 844px;
  width: 87px;
}

.quiz .ellipse-8 {
  background-color: #f2f2f2;
  border-radius: 43.35px/46.5px;
  height: 93px;
  left: 314px;
  position: absolute;
  top: 844px;
  width: 87px;
}

.quiz .ellipse-9 {
  background-color: #f2f2f2;
  border-radius: 43.35px/46.5px;
  height: 93px;
  left: 457px;
  position: absolute;
  top: 844px;
  width: 87px;
}

.quiz .ellipse-10 {
  background-color: #f2f2f2;
  border-radius: 43.35px/46.5px;
  height: 93px;
  left: 600px;
  position: absolute;
  top: 844px;
  width: 87px;
}
