.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.home-page .overlap {
  height: 689px;
  left: 106px;
  position: absolute;
  top: 163px;
  width: 875px;
}

.home-page .overlap-group {
  height: 625px;
  left: 0;
  position: absolute;
  top: 0;
  width: 875px;
}

.home-page .overlap-2 {
  height: 302px;
  left: 86px;
  position: absolute;
  top: 323px;
  width: 269px;
}

.home-page .READ-MORE {
  height: 17px;
  left: 0;
  position: absolute;
  top: 244px;
  width: 136px;
}

.home-page .rectangle {
  height: 302px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 266px;
}

.home-page .included-book {
  height: 302px;
  left: 3px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 266px;
}

.home-page .overlap-3 {
  height: 565px;
  left: 0;
  position: absolute;
  top: 0;
  width: 875px;
}

.home-page .img {
  height: 482px;
  left: 416px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 415px;
}

.home-page .group {
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 875px;
}

.home-page .overlap-4 {
  height: 106px;
  position: relative;
}

.home-page .group-2 {
  height: 106px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 857px;
}

.home-page .frame {
  align-items: flex-start;
  display: inline-flex;
  gap: 5px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 0;
}

.home-page .text-wrapper {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home-page .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 5px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 60px;
}

.home-page .text-wrapper-2 {
  color: #c4c4c4;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home-page .rectangle-2 {
  background-color: #f98121;
  border-radius: 1px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 160px;
}

.home-page .text-wrapper-3 {
  color: #c4c4c4;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  width: 177px;
}

.home-page .love-you-to-moon {
  display: block;
  height: 482px;
  left: 416px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  transition: all 0.2s ease;
  width: 415px;
}

.home-page .overlap-5 {
  height: 92px;
  left: 16px;
  position: absolute;
  top: 148px;
  width: 137px;
}

.home-page .group-3 {
  height: 92px;
  left: 0;
  position: absolute;
  top: 0;
  width: 137px;
}

.home-page .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 5px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 46px;
}

.home-page .overlap-6 {
  height: 99px;
  left: 416px;
  position: absolute;
  top: 590px;
  width: 409px;
}

.home-page .i-love-you-to-the-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 409px;
}

.home-page .i-love-you-to-the {
  color: #f98121;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -8px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 409px;
}

.home-page .overlap-7 {
  height: 93px;
  left: 1060px;
  position: absolute;
  top: 31px;
  width: 321px;
}

.home-page .group-4 {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 321px;
}

.home-page .overlap-group-2 {
  height: 86px;
  left: 240px;
  position: absolute;
  top: 5px;
  width: 81px;
}

.home-page .ellipse {
  height: 35px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 39px;
}

.home-page .frame-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 33px;
  width: 81px;
}

.home-page .text-wrapper-4 {
  color: #818181;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -5.57px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home-page .frame-4 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 126px;
  padding: 10px;
  position: absolute;
  top: 38px;
  width: 89px;
}

.home-page .text-wrapper-5 {
  color: #818181;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -21.82px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home-page .iconly-light-outline {
  background-image: url(../../../static/img/libary-1.svg);
  background-size: 100% 100%;
  height: 38px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 43px;
}

.home-page .group-5 {
  height: 91px;
  left: 126px;
  position: absolute;
  top: 0;
  width: 195px;
}

.home-page .frame-5 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 38px;
  width: 89px;
}

.home-page .frame-6 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 114px;
  padding: 10px;
  position: absolute;
  top: 38px;
  width: 81px;
}

.home-page .bookshelf-icon {
  background-image: url(../../../static/img/libary-2.svg);
  background-size: 100% 100%;
  height: 38px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 43px;
}

.home-page .ten-tiny-toes-wrapper {
  background-image: url(../../../static/img/rectangle-35.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 292px;
  left: 998px;
  position: absolute;
  top: 496px;
  width: 266px;
}

.home-page .ten-tiny-toes {
  height: 292px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 266px;
}

.home-page .heart-wrapper {
  background-image: url(../../../static/img/heart-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 51px;
  left: 812px;
  position: absolute;
  top: 893px;
  width: 52px;
}

.home-page .heart {
  height: 51px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 52px;
}

.home-page .overlap-8 {
  height: 162px;
  left: 177px;
  position: absolute;
  top: 809px;
  width: 297px;
}

.home-page .p {
  color: #bcbcbc;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 297px;
}

.home-page .text-wrapper-6 {
  color: #bcbcbc;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 1365px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 903px;
}

.home-page .reading-time-icon-wrapper {
  background-image: url(../../../static/img/image-12.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 49px;
  left: 562px;
  position: absolute;
  top: 894px;
  width: 50px;
}

.home-page .reading-time-icon {
  height: 49px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50px;
}

.home-page .overlap-9 {
  height: 38px;
  left: 622px;
  position: absolute;
  top: 903px;
  width: 134px;
}

.home-page .text-wrapper-7 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 134px;
}

.home-page .logo {
  height: 33px;
  left: 40px;
  position: absolute;
  top: 53px;
  width: 213px;
}

.home-page .image-wrapper {
  background-image: url(../../../static/img/image-8.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 33px;
  left: 177px;
  position: absolute;
  top: 0;
  width: 32px;
}

.home-page .image {
  height: 33px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.home-page .overlap-10 {
  background-image: url(../../../static/img/subtract-1.svg);
  background-size: 100% 100%;
  height: 29px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 176px;
}

.home-page .text-wrapper-8 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 147px;
}

.home-page .subtract {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.home-page .text-wrapper-9 {
  color: #bcbcbc;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 1010px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 819px;
}
